$blue: blue;
$lightgray: lightgray;
$azure: azure;
$black: black;
$tomato: tomato;
$gray: gray;

$primary-bg: $blue;
$secondary-bg: $lightgray;
$primary-fg: $azure;
$secondary-fg: $black;
$primary-link: $tomato;
$secondary-link: $blue;
$accent: $tomato;
$disable: $gray;
